#nav {
    background-color: #990000;
    border: 0px;
    height: 50px;
}

.navbar {
    border: 0 !important;
}

#nav a {
    color: #F1BE48;
}

#nav a:hover {
    color: #F1BE48;
}

body {
    color: black;
    min-height: 100%;
}

body, tfoot {
    background-color: white;
}

a, a:hover {
    color: #990000;
}

.container {
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 15px;
    width: auto;
}

.breadcrumb {
    background-color: #990000;
    color: white;
    height: 50px;
    margin: 0px;
    padding: 15px;
}

.btn-primary {
    background-color: #990000;
    border-color: #990000;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #DD0031;
    border-color: #990000
}

.form-control:focus {
    border-color: #990000;
}

.panel-default {
    cursor: pointer;
}

.pagination>li>a {
    border: 1px solid #990000;
}
.pagination>li.active>a {
    border: 1px solid #990000 !important;
    background-color: #990000 !important;
    color: #fff !important;
}
.pagination>li>a:hover, .pagination>li.active>a:hover {
    background-color: #990000;
    border-color: #990000;
    color: white;
}

.pagination>li>a{
    color: #990000;
}

.list {
    height: 300px;
}

.button-pager button {
    float: left;
}

.button-pager ul {
    text-align: center;
    width: 100%;
}

.table {
    margin-bottom: 0px;
}


.panel-default, .panel-default > .panel-heading {
    background-color: #DFD6CD;
    border-color: #DFD6CD;
}

.panel-body {
    background-color: white;
}

input {
    margin-bottom: 10px;
}

.map {
    height: 300px !important;
    border: 5px solid #990000;
    border-radius: 5px;
}

.health-circle {
    border: 5px solid;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
}

.circle-green {
    border-color: limegreen;
}

.circle-yellow {
    border-color: yellow;
}

.circle-red {
    border-color: red;
}
