#nav {
    background-color: #990000;
    border: 0px;
    height: 70px;
}

.nav {
  background-color: #990000
}
.navbar {
    border: 0 !important;
}

body {
    color: black;
    min-height: 100%;
}

body, tfoot {
    background-color: white;
}

a, a:hover {
  color: #990000;
}

.container {
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
}

.breadcrumb {
    background-color: #990000;
    height: 50px;
    margin: 10px;
    padding: 15px;
}

.breadcrumb li {
  background-color: #990000;
  color: white;
}

#btn-login {
  background-color: #fff;
  border-color: #fff;
  height: 50px;
  margin: 10px;
  padding: 15px;
  width: 100px;
}

#btn-login:hover {
  background-color: grey;
  background-color: #fff;

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.btn-primary {
    background-color: #990000;
    border-color: #990000;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #DD0031;
    border-color: #990000
}

.form-control:focus {
    border-color: #990000;
}

.panel-default {
    cursor: pointer;
}

.list {
    height: 300px;
}

.button-pager button {
    float: left;
}

.button-pager ul {
    text-align: center;
    width: 100%;
}

.table {
    margin-bottom: 0px;
}


.panel-default, .panel-default > .panel-heading {
    background-color: #DFD6CD;
    border-color: #DFD6CD;
}

.panel-body {
    background-color: white;
}

input {
    margin-bottom: 10px;
}

.map {
    height: 300px !important;
    border: 5px solid #990000;
    border-radius: 5px;
}

.health-circle {
    border: 5px solid;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
}

.circle-green {
    border-color: limegreen;
}

.circle-yellow {
    border-color: yellow;
}

.circle-red {
    border-color: red;
}
