<nav class="navbar navbar-default">
  <div id="nav" class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav">
        <li>
          <ol class="breadcrumb">
            <li><span class="active">Dashboard</span></li>
          </ol>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a id="btn-login" ng-controller="logoutController" ng-click='logout()' class="btn btn-default">Logout</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h1>Sites</h1>
      <accordion close-others="true">
        <div accordion-group ng-repeat="s in sites">
          <div accordion-heading>
              <div>
                {{s.name}}
                <div class="pull-right">
                <!--random number generator adapted from: https://stackoverflow.com/questions/19737594/angularjs-how-to-generate-random-value-for-each-ng-repeat-iteration-->
                <span class="text-center">
                    1 <div class="health-circle circle-green"></div>
                    2 <div class="health-circle circle-yellow"></div>
                    1 <div class="health-circle circle-red"></div>
                </span>
                <a style="margin-left: 15px;" class="pull-right" ng-href="/site/{{s.id}}" ng-click="$event.stopPropagation()">View Site</a>
                </div>
              </div>
          </div>
          <div>
            {{s.status}}
          </div>
        </div>
      </accordion>
    </div>
    <div class="col-sm-offset-1 col-sm-5">
      <h3>Site Map</h3>
      <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
        <ng-map class="map" default-style="true" zoom="3" center="35, -95">
          <info-window id="infoWindow">
            <div ng-non-bindable>
              <a href="#">{{ selectedSite.name }}</a>
              <br/>
            </div>
          </info-window>
          <marker ng-repeat="s in sites"
                  position="{{s.lat}},{{s.lng}}" title="{{s.name}}"
                  id="{{s.id}}" on-click="showSite(event, s)">
          </marker>
        </ng-map>
      </div>
    </div>
  </div>
</div>
